/* Basic styling for employee list table */
.employee-list h4 {
	margin: 0;
}

.employee-list .table {
	width: 100%;
	border-collapse: collapse;
}

.employee-list .table thead th {
	vertical-align: middle;
}

.employee-list .table tbody td {
	vertical-align: middle;
}

@media (max-width: 768px) {
	.employee-list .table thead {
		display: none;
	}
	.employee-list .table, .employee-list .table tbody, .employee-list .table tr, .employee-list .table td {
		display: block;
		width: 100%;
	}
	.employee-list .table tr { margin-bottom: 1rem; }
	.employee-list .table td { text-align: right; padding-left: 50%; position: relative; }
	.employee-list .table td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 1rem;
		font-weight: 600;
		text-align: left;
	}
}
