# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - employeeapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: employeemanagement.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_AEC9A7A4C0B841B1954D8F2B40037F8C }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_E6227916D31043129C00DB5C43468BD9 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: employeemanagement.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_AEC9A7A4C0B841B1954D8F2B40037F8C }}/frontend:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_15E3FA4BA707419EA9DA9592C3C8462E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_29457E2E892146E69907E4578350E483 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_9F7D5831A5FF4C7FBB25AA9CE9BC143C }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'employeeapp'
          slot-name: 'Production'
          images: 'employeemanagement.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_AEC9A7A4C0B841B1954D8F2B40037F8C }}/frontend:${{ github.sha }}'
          