# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - employeeapp

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: employeemanagement.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_990A1154996544E0BE0FA0835F0C4B02 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_1A864266798346A4B06AD05CB450C1D2 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: employeemanagement.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_990A1154996544E0BE0FA0835F0C4B02 }}/frontend:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3E4D96C0F0CA42DDA0EC05948A2E2D22 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_C6BD888BFF3C4A40A6B40F67A5BD6B75 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_09B44002AA1B40799A1E73384E1D56E6 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'employeeapp'
          slot-name: 'Production'
          images: 'employeemanagement.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_990A1154996544E0BE0FA0835F0C4B02 }}/frontend:${{ github.sha }}'
          